{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Facts|Facts about first underground way {% endblock title %}

{% block main_title %} Facts about first underground way{% endblock main_title %}

{% block main_text %}

<section class="gallery sect_black" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sect_topic text-center">
                    <h2>Facts</h2>
                </div>

              <div class="obscure">
    <div class="popup animationClose">
      Hey, i'm a Popup
      I'm nice to meet you, now please close me, thanks.
      <a class="closeBtn" href="#">Close</a>
    </div></div>
<a class="openBtn" href="#">Click!</a>


            </div>
        </div>
</section>

{% endblock main_text %}