{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Facts|Facts about first underground way {% endblock title %}

{% block main_title %} Facts about first underground way{% endblock main_title %}

{% block main_text %}

<section class="gallery sect_black" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sect_topic text-center">
                    <h2>Facts</h2>
                </div>
                     {% for fact in facts %}

                    <h3>{{ fact.name }} </h3>

                    {% endfor facts %}

            </div>
        </div>
    </div>
</section>

{% endblock main_text %}